.main{
  background-image: url("../photo/back1-2.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #000;
  position: relative;
}

.main::after{
  clear: both;
  content: "";
  display: none;
}

.main--boxArea{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-55%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:80%;
  height:425px;
  /* background-color: white; */
}

.box{
  float:left;
}

.main--leftBox--text{
  width:50%;
  padding-left: 60px;
}

.main--leftBox--text > h1{
  font-family: 'Passion One', cursive;
  font-size: 60px;
}

.main--leftBox--text > p{
  font-family: 'Passion One', cursive;
  font-size: 30px;
  margin-bottom: 7px;
}

.main--leftBox--text--1 > p{
  font-size: 18px;
  font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  font-weight: bold;
}

.main--leftBox--text--1 > a{
  font-size: 18px;
  font-weight: bold;
  font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.main--rightBox--jacket--1{
  width: 50%;
  padding-right: 60px;
}

.jacket{
  width: 425px;
  height: auto;
  float: right;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.5);
}
