.main{
  background-image: url("../photo/back1-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100vw;
  height: 80vh;
  margin: 8.5vh 0;
  color: #000;
}

.main::after{
  clear: both;
  content: "";
  display: none;
}

.main h1{
  font-family: 'Passion One', cursive;
  font-size: 6.5vh;
}

.main--movie{
  text-align: center;
  padding: 15vh 0;
}

.main--movie > p{
  font-size: 2.2vh;
  font-weight: bold;
}

.movie1{
  width: 70vw;
  height: 30vh;
}
