.main{
  background-image: url("../photo/back1-2.png");
  background-repeat: no-repeat;
  background-size:cover;
  /* background-attachment: fixed; */
  width: 100%;
  height: 100%;
  color: #000;
  position: relative;
}

.main::after{
  clear: both;
  content: "";
  display: none;
}

.main--boxArea{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:100%;
  height:380px;
}

.main--leftBox--text > h1{
  font-family: 'Passion One', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
}

.main--leftBox--text > p{
  font-family: 'Passion One', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.main--leftBox--text--ja{
  font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.main--leftBox--text--ja h1{
  font-size: 25px;
}

.main--leftBox--text--2{
  font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-top: 1vh;
  margin-bottom: : 10vh;
  margin-left: 25vw;
  text-align: left;
}

.jacket1{
  height: 150px;
  width: auto;
  margin-top: 10px;
  box-shadow: 4px 4px 4px;
}

.jacket2{
  height: 150px;
  width: auto;
  margin-top: 10px;
  box-shadow: 4px 4px 4px;
}

.main--rightBox--jacket{
  text-align: center;
}
