@import url('https://fonts.googleapis.com/css?family=Passion+O');

.main{
  background-image: url("../photo/smartphoneback1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 80vh;
  margin: 5vh 0;
  color: #000;
}

.jacket{
  width: 50vw;
  height: 30vh;
  padding-top: 4vh;
  margin: 0 23vw;
}

.main--boxArea{
  height: 80vh;
}
.main--leftBox--text > h1{
  text-align: center;
  padding-top: 1.3vh;
  font-family: 'Passion One', cursive;
}
.main--leftBox--text > p{
  text-align: center;
  padding-bottom: 1.3vh;
  font-family: 'Passion One', cursive;
}
.main--leftBox--text h1{
  font-size: 13vw;
}

.main--leftBox--text--1{
  margin-left:23vw;
  font-size: 0.2vh;
  font-weight: bold;
}
