@import url('https://fonts.googleapis.com/css?family=Passion+O');

.main{
  background-image: url("../photo/back1-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #000;
}

.jacket{
  width: 200px;
  height: auto;
}

.main--rightBox--jacket--1{
  text-align: center;
}
.main--boxArea{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:80%;
  height:530px;
}


.main--leftBox--text > h1{
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 60px;
}

.main--leftBox--text > p{
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size:20px;
}

.main--leftBox--text--1 > a{
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.main--leftBox--text--1{
  font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-bottom:10px;
}
