@import url('https://fonts.googleapis.com/css?family=Passion+O');

.main{
  background-image: url("../photo/back1-2.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #000;
}

.main::after{
  clear: both;
  content: "";
  display: none;
}

.main--boxArea--about > h1{
  font-family: 'Passion One', cursive;
  font-size: 10vh;
  margin:10px 0;
}

.main p{
  font-weight: bold;
  font-size: 1.8vh;
}

.main--boxArea {
  width: 100%;
  height: 100%;
  margin-top:80px;
  padding-bottom: 100px;
}

.main--boxArea--about{
  text-align: center;
  padding: 10px 0;
}

.main--boxArea--about > h1{
  font-family: 'Passion One', cursive;
  font-size: 8vh;
}

.text-boxArea{
  text-align: center;
  width:100%;
  margin:20px 0;
}

.text{
  display:inline-block;
  text-align: left;
}

.icon{
  border-radius: 50%;
  border: 5px solid brack;
  box-shadow: 0 0 15px brack;
  height: 20vh;
}

.main a{
  text-decoration: none;
  color: #000;
}

.main a:hover{
  color: royalblue;
}
