.main--leftBox--text--2>h1{
  font-size: 6vh;
}

.main--leftBox--text--3>h1{
  font-size: 8vh;
}

.main--leftBox--text--2{
  margin-left: 15vw;
  margin-top: 10vh;
  margin-bottom: : 10vh;
  text-align: left;
}

.main--leftBox--text--3{
  margin-left: 15vw;
  margin-top: 10vh;
  margin-bottom: : 10vh;
  text-align: left;
}
